<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>


    <!--console-->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--file-->
    <appender name="File" class="org.apache.log4j.FileAppender">
        <param name="Append" value="true"/>
        <param name="File" value="C:/Work/Source Code/andaily-developer/log_files/ad-basic.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--exception file appender-->
    <appender name="exceptionAppender" class="org.apache.log4j.FileAppender">
        <param name="Append" value="true"/>
        <param name="File" value="C:/Work/Source Code/andaily-developer/log_files/ad-exception.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--action daily-->
    <appender name="actionDaily" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="C:/Work/Source Code/andaily-developer/log_files/ad-action.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--mail daily-->
    <appender name="mailDaily" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="C:/Work/Source Code/andaily-developer/log_files/ad-mail.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--mail logger -->
    <logger name="com.andaily.infrastructure.mail" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="mailDaily"/>
    </logger>

    <!--exception logger -->
    <logger name="com.andaily.web.resolver.AndailyHandlerExceptionResolver" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="exceptionAppender"/>
    </logger>

    <!--action logger -->
    <logger name="com.andaily.domain.developer" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="actionDaily"/>
    </logger>

    <!--Configuration your logger -->
    <!--<logger name="com.andaily.service.impl" additivity="false">-->
    <!--<level value="INFO"/>-->
    <!--<appender-ref ref="File"/>-->
    <!--</logger>-->

	<root>
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </root>

</log4j:configuration>